<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipe.name %><br />
</p>

<p>
  <table>
    <% @recipe.steps.each do |step| %>
    <tr>
      <td><%= step.ordinality %></td>
      <td><%= step.instruction %></td>
      <td><%= link_to 'Edit', edit_recipe_step_path(@recipe, step) %></td>
      <td><%= link_to 'Delete', [@recipe, step], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Add Step', new_recipe_step_path(@recipe) %> |
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
