<%= form_for [@recipe, @step] do |f| %>
<p>
<%= f.label :ordinality %><br>
<%= f.text_field :ordinality %>
</p>
<p>
<%= f.label :instruction %><br>
<%= f.text_area :instruction %>
</p>
<%= f.submit %>
<% end %>